.head {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
}

.someone {
  width: 320px;         
  height: 160px;        
  background: #fff;
  padding: 18px;
  border-radius: 18px;
  border: 1px solid #99a0a0;
  
 
  
}



.someone h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
}


.someone p {
  font-size: 0.85rem;
  color: #555;
 
}


